

.body {
  margin-top: 90px;
  height: 450px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.body img{
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}
/* .body span{
  font-size: 40px;
  font-weight: bold;
  
} */
.note p {
  color: #f97316;
  font-size: 15px;
}
.note span {
  color: #f97316;
  font-size: 21px;
}
#btn-home {
  width: 360px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #e30713;
  border-radius: 9999px;
  border-color: white;
}
.Book-success {
  font-size: 40px;
  font-weight: 700;
}